$grey: #555;
$light-grey:#ebebeb;
$lighter-grey:#EFF0F1;
$black:rgb(30,30,30);
$offwhite:#f6f6f6;
$boldtext:#212121;
$lime-green:#1CB78C;
$orange: #ef9f00;
$blue: #00cbef;
$pink: #b4214f;

$nav-height:55px;
$sidebar-width:230px;
$poster-width:170px;
$poster-height:280px;

div[class^="col"]{
  padding:0px;
}

.col-md-6{
  padding:0px;
}

.col-xs-3, .col-xs-2,.col-xs-6, .col-sm-6, .col-lg-4{
  padding:0px !important;
}

.row{
  margin:0px !important;
}

.centered{
  width:100%;
  height:auto;
  margin-left:auto;
  margin-right:auto;
  text-align: center;

}

.centered > h1{
  color:black!important;
  margin-bottom:10px;
}

.loader{
  width:100px;
  height:100px;
  margin:auto;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index:99;
  margin-top: 50px;
}

.overlay{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:500px;
  background-size: cover;
  background-position: center;
  z-index:90;
}

.landing-image{
  width:100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  z-index:80;
}

.parent {
  position: relative;
  z-index:900;
}
.child {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 100%);
  margin-top:100px;
  z-index:900;
}

.child >h1{
  color:white;
  z-index:900;
  position: relative;
  text-align: center;
}

.banner{
  background: $lime-green;
  width:100%;
  padding:35px;
}

.banner-scores{
  width:800px;
  margin:auto;
}

.navbar-toggle{
  border-color:black !important;
  margin-right:-15px;
}

.navbar-toggle:hover, .navbar-toggle:visited{
  background: white !important;
}

.icon-bar{
  background: black !important;
}

body{
  overflow-x: hidden;
  overflow-y: hidden;
  background: $lighter-grey;
  font-family: "Lato", sans-serif !important;
}

.logo{
  position: absolute;
  left:30px;
  top:15px;
  font-size: 18px;
  font-weight: bold;
  color:$grey;
}

.navbar{
  background:white;
  height:$nav-height;
  text-transform: uppercase;
  border:none !important;
  box-shadow:0 1px 3px rgba(0,0,0,.2) !important;
  padding:0px 30px;
}

.navbar-nav{
  float:right;
  height:$nav-height;
}

.navbar-nav > li{
  height:$nav-height;
  margin:0px 5px;
}

.navbar-nav > li.active, .navbar-nav > li.active > a{
  color:$black !important;
  background: $light-grey !important;
  border-bottom: 3px solid $lime-green;
}

.navbar-nav > li > a{
  color:$grey !important;
  padding: 16px 10px;
}

.navbar-nav > li > a:hover{
  color:$black !important;
  background: $light-grey !important;
  cursor: pointer;
  border-bottom: 3px solid $lime-green;
}

.main-wrap{
  position: absolute;
  top:$nav-height;
  bottom:20px;
  width:100%;
}

.left-nav-wrapper{
  position:absolute;
  top:0;
  left:0;
  width:$sidebar-width;
  padding:10px;
  padding-bottom:0px;
  bottom:0px;
}

.left-nav{
  background: white;
  height:100%;
  box-shadow:0 1px 3px rgba(0,0,0,.3);
  padding:0px 0px;
  border-radius:3px;
}

.right-wrapper{
  position: absolute;
  left:$sidebar-width;
  top:0;
  padding:10px;
  bottom:0px;
  min-width: -webkit-calc(100% - #{$sidebar-width});
  min-width: -moz-calc(100% - #{$sidebar-width});
  min-width:  calc(100% - #{$sidebar-width});
  overflow-y: hidden;
}

.filter-wrap{
  background: white;
  box-shadow:0 1px 3px rgba(0,0,0,.3);
  border-radius:3px;
  padding:10px;
}

.right-scroll{
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height:100%;
  position: relative;

  background: white;
  box-shadow:0 1px 3px rgba(0,0,0,.3);
  border-radius:3px;
  padding:10px;
  //padding-bottom:50px;
  margin-top:10px;
}

.movie{
  background:$offwhite;
  height:$poster-height  + 1px;
  margin:5px;
  color:$boldtext;
  font-size: 15px;
  border-radius: 3px;
  border: 1px solid #e3e3e3;
  cursor:pointer; position: relative;
}

.modal-content{
  border-radius: 3px;
}

.plot{
  margin:20px 5px;
}

.movieInfo{
  padding-left:$poster-width + 15;
  padding-top:10px;
  padding-right:10px;
  height:$poster-height;
}


.movieInfo > p{
  font-size:13px;
}

.score-wrap{
  padding-left: 0px;
}

.score-wrap > li{
  display: inline-block;
  padding:8px;
  color:white;
  border-radius: 3px;
  margin-right: 5px;
  width:43px;
  text-align: center;
}

.pink{
  background: $pink;
}

.orange{
  background: $orange;
}

.blue{
   background: $blue;
}

.poster{
  position: absolute;
  width:$poster-width;
  height:$poster-height;
  background-size:cover !important;
  background-position: center !important;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.movieInfo > .title{
  font-weight: bold;
  color:$boldtext;
  margin-top:0px !important;
  font-size:18px !important;
}

.side-wrap{
  padding:0px 0px;
  width:100%;
  height:auto;
}

.side-wrap-title{
  margin-top: 0px !important;
}

.side-title{
  background: $lime-green;
  color:white;
  border-bottom: 1px solid $light-grey;
  padding:10px;
  font-size:20px;
  font-weight:bold;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.side-elem{
  background:$offwhite;
  padding:10px;
  transition: background .3s linear;
  cursor: pointer;
  margin-top: 5px;
}

.side-elem.active{
  background: $grey;
}

.side-elem.active > a{
  color:white !important;
}

.side-elem:hover{
  background: $grey;
}
.side-elem:hover>a{
  color:white !important;
}

.side-elem > a{
  color:$black;
  text-align:center;
}

.side-elem > a:hover{
  text-decoration: none;
  color:white;
}


.filter-text{
  padding:6px 10px;
  font-size: 20px;
  font-weight: bold;
  border-right: 2px solid $light-grey;

  margin-right:35px;
}

.filter-by-wrap{
  width:850px;
}

.filter-button{
  background:$grey;
  color:white;
  text-align: center;
  padding:10px 10px;
  transition: background .3s linear;
  cursor:pointer;
}
.filter-button-c:hover, .filter-button-c.active{
  background:$orange;
}

.filter-button-l:hover, .filter-button-l.active{
  background:$pink;
}

.filter-button-r:hover, .filter-button-r.active{
  background:$blue;
}

.filter-button-l{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: 1px solid white;
}

.filter-button-r{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: 1px solid white;
}

.posterPic{
  height:30vh;
  background-size:cover;
  background-position: center;
}

.home-overlay{
  position: absolute;
  top:0;
  left:0;
  bottom:-20px;
  width:100%;
  //height:100%;
  background:rgba(30,30,30,.8);
  z-index:900;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.child{
  width:800px;
  height:30vh;
  margin:auto;
}

.child > h1{
  color:white;
  font-size:60px;
  font-weight: bold;
  text-shadow: 2px 2px $grey;
}

.home-button{
  margin:auto;
  width:300px;
  padding:15px;
  border-radius:3px;
  text-align:center;
  color:white;
  font-size:20px;
  font-weight:bold;
  border:3px solid $lime-green;
  color:$lime-green;
  margin-top:30px;
  transition: background .3s linear;
}

a:hover{
  text-decoration: none !important;
}

.home-button:hover{
  color:white;
  cursor: pointer;
  background: $lime-green;

}

.home{
  overflow-y: hidden;
}

@media only screen and (max-width: 1120px) {
    .left-nav-wrapper{
      display: none;
    }
    .right-wrapper{
      left:0px;
      min-width:100%;
    }
}

@media only screen and (max-width: 900px) {
    .filter-text{
      display: none;
    }

    .filter-by-wrap{
      width:100%;
    }

    .hide900{
      display: none;
    }
    .child{
      width:90%;

    }
    .child > h1{
      font-size: 30px;
    }
    .home-button{
      width:200px;
      padding:10px;
      font-size: 10px;
    }
}
